- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.1.0
  hooks:
  - id: check-executables-have-shebangs
  - id: check-json
  - id: check-yaml
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 1.11.0
  hooks:
    - id: shellcheck

- repo: git://github.com/antonbabenko/pre-commit-terraform
  rev: v1.7.4
  hooks:
    - id: terraform_fmt
    - id: terraform_docs
